/.idea/
/logs/
*.iml
*.log
/pig-auth/target/
/pig-common/pig-common-core/target/
/pig-common/pig-common-log/target/
/pig-common/pig-common-security/target/
/pig-config/target/
/pig-eureka/target/
/pig-gateway/target/
/pig-upms/pig-upms-api/target/
/pig-upms/pig-upms-biz/target/
/pig-visual/pig-codegen/target/
/pig-visual/pig-monitor/target/
/pig-visual/pig-zipkin/target/
/school-collection/collection-manage-api/target/
/school-collection/collection-manage-biz/target/
/school-manage/manage-brmanage/manage-brmanage-api/target/
/school-manage/manage-brmanage/manage-brmanage-biz/target/
/school-manage/manage-portal/manage-portal-api/target/
/school-manage/manage-portal/manage-portal-biz/target/
/school-manage/manage-school/manage-school-api/target/
/school-manage/manage-school/manage-school-biz/target/
/school-manage/manage-supervision/target/
/school-portal/portal-manage/portal-manage-api/target/
/school-portal/portal-manage/portal-manage-biz/target/
/school-public/public-manage-api/target/
/school-public/public-manage-biz/target/
/school-watch/watch-manage/target/
