<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.school.mapper.SchoolDetailMapper">


    <select id="getSchoolQualification" resultType="Map">
    select ss.sch_name as sch_name,
      ss.sch_address as sch_dizhi,
      ss.sch_principal as sch_xiaozhang,
      ss.office_nature as sch_xingzhi,
      ss.school_type as sch_leixing,
      ss.sch_area as sch_quhuahao,
      ss.sch_tel as sch_dianhua
      from se_school ss
      <where>
        <if test="map.schoolid != null">
          ss.id=#{map.schoolid}
        </if>
      </where>
      and ss.del_flag='0'

    </select>

  <!--根据学校id获得供应商信息-->
  <select id="getSupplierInformation" resultType="Map">
    select
    smf.id as id,
    smf.sup_name as name,
    smf.license_number
    from sup_main_filing smf
    <where>
      <if test="map.schoolid != null">
        smf.school_id=#{map.schoolid}
      </if >
      and smf.del_flag='0'
    </where>
  </select>

  <!--许可数-->
  <select id="getxuke" resultType="Map">
    select
    count(smf.id) as xukeshu

    from sup_main_filing smf
    where
    <if test="map.schoolid != null">
    smf.school_id=#{map.schoolid}
    </if >
    and smf.del_flag='0'
    and smf.permit_end > now()
    and smf.permit_start &lt; now()
  </select>

  <!--营业数-->
  <select id="getyingye" resultType="Map">
    select
    count(smf.id) as yingyeshu

    from sup_main_filing smf
    where
    <if test="map.schoolid != null">
      smf.school_id=#{map.schoolid}
    </if >
    and smf.del_flag='0'
    and smf.bulicense_end > now()
    and smf.bulicense_start &lt; now()
  </select>

  <!--供应商总数-->
  <select id="getzong" resultType="Map">
    select
      count(smf.id) as zongshu
      from sup_main_filing smf
      where
      <if test="map.schoolid != null">
            smf.school_id=#{map.schoolid}
        </if >
      and smf.del_flag='0'
  </select>

  <!--第2行-校园端-欢迎页-校长-台账统计--><!--返回是map-->
  <select id="getAccount" resultType="Map">
    select
    (select ifnull(sum(a.isSample),0)as 'sampleRecord' from (
    select a.school_id as schoolId,c.sch_name as schoolName,a.rd_date as rdDate,
    CASE WHEN max(b.sr_type) ='0' THEN 0
    WHEN (min(b.sr_type) ='0' AND max(b.sr_type) = '1') THEN 1
    ELSE 1 END AS isSample,
    CASE WHEN max(b.sr_type) ='0' THEN '未留样'
    WHEN (min(b.sr_type) ='0' AND max(b.sr_type) = '1') THEN '部分留样'
    ELSE '全部留样'
    END AS isSampleZ
    from re_daily a
    left join re_daily_source b on b.daily_id = a.id
    left join se_school c on c.id = a.school_id
    <where>
      1=1 and a.del_flag = '0'
      <if test="map.schoolId != null">
        AND a.school_id = #{map.schoolId}
      </if>
    </where>
    group by a.rd_date
    order by a.rd_date desc
    ) a )as'sampleRecord',


    (select count(*) from sl_dishwash_note
    <where>
      1=1 and del_flag = '0'
      <if test="map.schoolId != null">
        AND school_id = #{map.schoolId}
      </if>
    </where>
    ) as 'dishwashNote',


    (select count(*) from sl_accompany_dinner
    <where>
      1=1 and del_flag = '0'
      <if test="map.schoolId != null">
        AND school_id = #{map.schoolId}
      </if>
    </where>
    ) as 'accompanyDinner',
    (select count(*) from sl_food_additive
    <where>
      1=1 and del_flag = '0'
      <if test="map.schoolId != null">
        AND school_id = #{map.schoolId}
      </if>
    </where>
    ) as 'equipmentWash',


    (select count(*) from sl_food_additive
    <where>
      1=1 and del_flag = '0'
      <if test="map.schoolId != null">
        AND school_id = #{map.schoolId}
      </if>
    </where>
    ) as 'foodAdditive',
    (select count(*) from sl_diningarea_wash
    <where>
      1=1 and del_flag = '0'
      <if test="map.schoolId != null">
        AND school_id = #{map.schoolId}
      </if>
    </where>
    ) as 'diningareaWash',

    (select count(*) from sl_kitwaste_treatment
    <where>
      1=1 and del_flag = '0'
      <if test="map.schoolId != null">
        AND school_id = #{map.schoolId}
      </if>
    </where>
    ) as 'kitwasteTreatment'


  </select>


  <!--第四行设备检查合格比率--> <!--返回是map-->
  <select id="getEqOperationRatio" resultType="Map">
    select count(a.id)as 'total',ifnull(convert(sum(a.isPassed)/count(a.id),DECIMAL(15,2)),0)as 'eqRatio' from (
    select a.id,
    case a.is_passed when '1' then 1 else 0 end as 'isPassed'
    from vd_device a
    <where>
      1=1 and a.del_flag='0'
      <if test="map.schoolId != null">
        and a.school_id = #{map.schoolId}
      </if>
    </where>
    )a
  </select>



  <!--设备信息-->
  <select id="getSchoolVdDevice" resultType="Map">
    select a.description as leixing,
    vd.brand as pinpai,
    vd.start_date as chuchangday,
    vd.use_year as nianxian,
    vd.restaurant_name as canting
    from vd_device vd
    RIGHT join (select a.* from sys_dict a where 1=1 and a.del_flag = '0' and type='device_type' order by a.sort) a
    on vd.device_type=a.value
    <where>
      1=1 and vd.del_flag='0'
      <if test="map.schoolId != null">
        and vd.school_id = #{map.schoolId}
      </if>
    </where>
  </select>

 </mapper>
